<div class="card">
  <div class="card-body">
    <hr>
    <div class="text-center">
      <%= image_tag @user.avatar, class: 'avatar profile' %>
      <br><br>
      <%= form_with scope: 'candidate', method: :patch, url: '/candidato/dashboard/update-avatar' do |form| %>
        <div class="mb-3">
          <br>
          <%= form.file_field 'avatar',
                              class: 'form-control',
                              accept: Avatar::CONTENT_TYPES %>
        </div>
        <br>
        <%= form.submit t('.update_btn'), class: 'btn btn-dark' %>
      <% end %>
    </div>
    <hr>
  </div>
</div>
