.avatar {
        background-color: #f3f3f3;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
}

.profile {
        width: 120px;
}

.logotype {
        width: 100px;
}
